@import "~materialize-css/dist/css/materialize.min.css";

input.black-input {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important;
}

input.black-input + label {
    color: white !important;
}

input.black-input:focus + label {
    color: black !important;
}

input.black-input:focus {
    border-bottom: 1px solid black !important;
    box-shadow: 0 1px 0 0 black !important;
}